/*article {
    line-height: 0.2;
    margin-left: 1rem;
    font-size: large;
} */

button {
    
    filter: drop-shadow(3px 3px 2px rgb(245, 121, 38));
    margin: 10px;
    margin-left: 15px;
    background-color: rgb(1, 2, 10);
    width: 30%;
    height: 60px;
    font-weight: bold;
    color: rgb(245, 245, 245);
    font-size: larger;
} 

.column {
    float: left;
    width: 30%;
    border: 1px solid black;
    column-gap: 5px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

